<div class="row">
  <div class="col-md-6 text-right">
      <button *ngIf="userChoices.length === 9"
              mat-raised-button color="primary"
              [routerLink]="['/dingo-grid', userChoices]">
          Lets play Dingo!!
      </button>
  </div>
  <div class="col-md-6">
      <button mat-raised-button
              (click)="randomizeChoices()">
          Randomize me!
      </button>
  </div>
</div>
<br>
<div class="row>">
<div class="example-container col-xs-6">
  <h2>Options</h2>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="options"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list selection-list"
        (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let item of options" cdkDrag>
              {{item}}
          </div>
      </div>
</div>

<div class="example-container col-xs-6">
  <h2>My Dingo Card</h2>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="userChoices"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of userChoices" cdkDrag>
                {{item}}
            </div>
      </div>
</div>
</div>
