.grid {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: space-between;
  align-items: center;

}
.cell {
  flex: 0 0 32%;                       /* don't grow, don't shrink, width */
  height: 230px;
  margin-bottom: 5px;
  background-color: #c6c6c6;
  text-align: center;
}

/*.cell:nth-child(3n) {*/
  /*background-color: #F00;*/
/*}*/
